   



*{
    margin: 0;
    padding: 0;
}
:root{
    --color1:#1c1c1c;
    --color2:white;
    --color3:#ff4500;
    --FontPrincipal:Arial, Helvetica, sans-serif;
    --fontSegundaria:'Times New Roman', Times, serif;
    --fontTerceira:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    font-family: var(--FontPrincipal);
    min-width: 1200px;
}
.linha{
    height: 3px;
    background-color: var(--color3);
    
}
.cabecalho{
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    justify-content: space-around;
    align-items:  center;
    padding-top: 20px;
    padding-bottom:15px;
         
} 
.cabecalho h1{
    font-size: 2vw;
    font-family: var(--fontTerceira);
    padding-right:  30vw ;
    
    
    
}
.lista{
    display: flex;
    
        
}
.lista  li    {
    list-style: none;
    margin: 15px;
    
    
}
.lista  li a{
    text-decoration: none;
    color:var(--color2);
    font-family: var(--fontTerceira);
    font-size: 1.5vw;
}
#home{
    color: #ff4500;
}
#home:hover{
    
    color: var(--color2);
}
    

.lista  li a:visited{
    color: var(--color2)
}
.lista  li a:hover{
    background-color: var(--color3);
    padding: 5px 2px 5px 2px;
    border-radius: 10px;
    color: var(--color2);
}

.bloco1{
    background-image: url(Imagens/team.png);
    text-align: center;
   padding-bottom: 205px;
   background-repeat: no-repeat;
   
    
}
.bloco1  h1 {
    color: var(--color2);
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: var(--fontSegundaria);
    
}
.bloco1 p{
    color: var(--color2);
   font-family: var(--fontSegundaria);
    text-align: center;
    align-items: center;
    font-size: 20px;
    
}
.bloco2{
    background-color: var(--color1);
    color: var(--color2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
   
}
.bloco2 h2{
    padding-left: 30px;
    font-size: 23px;
}
.email{
        padding-top: 5px;
        
    }       
.email .botao{
    border-radius: 3px;
    border-style: none;
    
    padding: 2px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.541);
    font: bold  14px var(--FontPrincipal);
}        
.email .botao:hover{
    background-color: var(--color3);
    color: var(--color2);
}
.container ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;  
}
.container li img{
    width: 150px;
    margin: 80px auto 150px auto;
    position: relative;
    left: 44px;
}

.container li p{
    width: 218px;
    text-align: center;
    align-items: center;
    position: relative;
    top:-110px;
    left: 20px;
}
.container li h3{
    text-align: center;
    align-items: center;
    position: relative;
    top: -130px;
    left: 15px;
}

footer p{
    text-align: center;
    align-items: center;
    background-color: var(--color3);
    color: var(--color2);
    font:bolder 20px var(--fontTerceira);
    
   
}
footer a{
    text-decoration: none;
}
 
footer a:visited{
    color: var(--color2);
    
}
footer a:hover{
    text-decoration: underline;   
} 
